.MenuItem{
    background: var( --carvao);
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 250px;
    justify-content:flex-start;
    align-items: center;
    border: solid var(--white);
    border-width: 1px 0 0 0;
    padding: 16px;
    cursor: pointer;
    gap: 16px;
}
.MenuItem:last-child{
    border-bottom-width: 3px;
}
.MenuItem:first-child{
    border-top-width: 3px;
}
.icon{
    width: 25px;
    height: 25px;
}
.title{
    padding: 10px;
    font-family: var(--sombra-vermelha);
}
