body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.campoEmail{
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.campoSenha{
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.infos{
  display: flex;
  flex-direction: column;
  
  width: 262PX;
  gap: 24px;
}

input{
  background: var(--gradiente); 
  border-color: var(--branco);
  border-width: 0.5px;
  height: 47px;
  border-radius: 8px;
  color: var(--branco);
  padding-left: 10px;
}

.containerBotao{
  width: 100%;
  display: flex;
  justify-content: center;
}