.login  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
 }

.login > div{
  display: flex;
  flex-direction: column;
  
  width: 262PX;
  gap: 24px;
}

.login h1{
  text-shadow: var(--sombra-vermelha)
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containerBotao{
  width: 100%;
  display: flex;
  justify-content: center;
}