.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 812px;
  width: 375px;
}

.login  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.login > div{
  display: flex;
  flex-direction: column;
  width: 262px;
  gap: 24px;
}

.login h1{
  text-shadow: var(--sombra-vermelha)
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containerBotao{
  width: 100%;
  display: flex;
  justify-content: center;
}
