.customButton{
    background-color: var(--carvao);
    border-radius: 8px;
    border: solid 1px var(--branco);
    height: 65px;
    width: 190px;
    color: var(--branco);
    box-shadow: 1px 1px 1px 1px var(--branco), 3px 3px 3px 1px var(--vermelho);
}