

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right,#22333B, #254A5B, #22333B); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "DM Sans"
}


@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
h1{
  
  font-size: 48px;
  font-family: "UnifrakturCook";
}

h2{
  font-size: 32px;
  margin: 0;
}
.campoEmail{
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.campoSenha{
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.infos{
  display: flex;
  flex-direction: column;
  
  width: 262PX;
  gap: 24px;
}

input{
  background: linear-gradient(to right,#22333B, #254A5B, #22333B); 
  border-color: white;
  border-width: 0.5px;
  height: 47px;
  border-radius: 8px;
  color: white;
  font-family: "DM Sans"
}

.containerBotao{
  width: 100%;
  display: flex;
  justify-content: center;
}

button{
  background-color: #254A5B;
  border-radius: 8px;
  border-color: #C9C9C9;
  height: 65px;
  width: 190px;
  color: white;
  font-family: "DM Sans"
}