.itemList{
    background: var(--gunmetal);
    display: flex;
    flex-direction: row;
    height: auto;
    width: 344px;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--white);
    border-radius: 4px;
}

.img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 1px solid var(--white);
}

.text {
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 1;
}

.title {
    font-size: 36px;
}

.desc {
    font-size: 16px;
}

.text {
    font-size: 23px;
}
.icon{
    height: 35px;
    width: 35px;
}