.itemList{
    background: var(--gunmetal);
    display: flex;
    flex-direction: row;
    height: auto;
    width: 344px;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    border: var(--borda-branca);
    border-radius: 4px;
    gap: 8px;
}

.itemList img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 1px solid var(--white);
}
.itemList div {
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 1;
}

.itemList h4 {
    font-size: 1em;
    font-weight: 500;
}
.itemList h5 {
    font-size: 16px;
}