.menuSuperior {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 60px;
    width: 375px;
    border-bottom: 2px solid var(--white);
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .iconDiv{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
  }

  .titleDiv{
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
    padding-top: 5px;
    text-align: center;
  }
  .icon {
    font-size: 1.5em;
    filter: var(--sombra-vermelha-brilho);
    cursor: pointer;
    /* box-shadow: var(--sombra-vermelha-icone); */
  }

  .title {
    font-size: 1.1em;
    width: 100%;
    font-family: var(--fonte-destaque);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    margin-left: 250px;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 999; /* Para garantir que está acima do resto */
  }
  