.menuSuperior {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 60px;
    width: 375px;
    border-bottom: 2px solid var(--white);
    margin-bottom: 5px;
  }
  
  .iconDiv{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
  }

  .titleDiv{
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
    padding-top: 5px;
  }
  .icon {
    font-size: 1.5em;
    filter: drop-shadow(0 4px 3px rgba(255, 0.7, 0.7, 0.7));
    /* box-shadow: var(--sombra-vermelha-icone); */
  }

  .title {
    display: flex;
    font-size: 1.3em;
    width: 100%;
    /* text-overflow: ellipsis; */
    font-family: var(--fonte-destaque);
  }