/* buttonImport.module.css */
div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.button {
    background-color: var(--carvao);
    border: var(--borda-branca);
    border-radius: 8px;
    height: 65px;
    width: fit-content;
    color: var(--white);
    box-shadow: var(--sombra-ex-vermelha);
    padding: 0px 16px;
    max-width: 80%;
    min-width: 190px;
    font-weight: 600;
    margin-bottom: 16px;
}

.button:active {
    box-shadow: var(--sombra-in-clara), var(--sombra-ex-vermelha);
}

.inputFile {
    display: none; /* Esconde o input */
}

.customFileUpload {
    background-color: #f2f2f2;
    border: 2px solid var(--borda-branca);
    border-radius: 8px;
    color: var(--carvao);
    font-size: 12px;
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
}

.customFileUpload:hover {
    background-color: #e0e0e0;
}

.customFileUpload:active {
    background-color: #ccc;
}
