.containerButton{
    display: flex;
    /* background-color: blueviolet; */
    flex-direction: column;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    height: 80px;
}