.TextInput{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.divPerecivel{
    display: flex;
    align-items: center;
    gap: 16px;
}

.divPrincipal{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

.divBotao{
    width: 100%;
    display: flex;
    justify-content: center;
}