.conteudoInicioTela{
    display: flex;
    flex-direction: column;
    padding: 6px;
    height: 100px;
    gap: 8px;
    justify-content: flex-end;
}

hr{
   width: 100%;
}

.conteudoTela{
    padding: 6px;
    height: 100%;
    width: 100%;
    gap: 6px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
