.topBar{
   height: 65px;
   position: fixed;
}

.conteudoInicioTela{
    display: flex;
    flex-direction: column;
    padding: 6px;
    height: 180px;
    gap: 8px;
    justify-content: flex-end;
}

hr{
   width: 100%;
}

.conteudoTela{
    padding: 6px;
    height: 100%;
    width: 100%;
    gap: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
