.textInput{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.textInput input{
    height: 47px;
    width: 262px;
    padding: 8px;
    background: var(--gunmetal);
    border: var(--borda-branca);
    border-radius: 8px;
    box-shadow: var(--sombra-in-escura);
}

.textInput label{
    max-width: 262px;
    font-size: 1.3em;
    font-weight: 500;
}