.header{
    width: 100%;
    height: 50px;
    background-color: black;
}

.divPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

.divAdministrador{
    display: flex;
    gap: 16px;
}

.divTexInput{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}



input[type="file"] {
    font-size: 12px; /* Altere o valor para o tamanho de fonte desejado */
}

.divButton{
    width: 100%;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--borda-branca);
}