.topBar{
    height: 65px;
    position: fixed;
 }
 
 
 .conteudoInicioTela{
     display: flex;
     padding: 6px;
     height: 120px;
     gap: 6px;
 }
 
 hr{
    width: 100%;
 }
 
 .conteudoTela{
     padding: 6px;
     height: 100%;
     width: 100%;
     gap: 6px;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 