.divPrincipal{
    display: flex;
    flex-direction: column;
    gap: 24px;
   padding: 16px;
   width: 100%;
}

.divBotao{
    width: 100%;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--borda-branca);
    position: relative;
    background-color: var(--gunmetal);
}

.divFiltroEBusca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-bottom: var(--borda-branca);
    padding-top: 8px;
    padding-bottom: 16px;
}