.divSideBar{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.sidebar {
    width: 50%;
    background-color: var(--carvao);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--white);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.508);
    gap: 8px;
    padding: 8px 0;

    /* transition-duration: 1s;
    transition-timing-function: ease-in; */
}

.sidebarHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fonte-artistica);
    font-size: 16px;
    /* Uma linha de destaque inferior, por exemplo */
}

.sidebarFooter {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 16px;
    padding: 4px 16px;
    align-items: start;
    background-color:var(--carvao);
    flex-direction: column;
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    width: 100%;

    .userImage {
        display: flex;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 1px solid var(--white);
    }
    .userName {
        font-size: 1.1em;
        font-family: var(--fonte-destaque), helvetica, sans-serif;
        color: var(--white);
        width: 100%;
        overflow: hidden;
        text-wrap: wrap;
        text-overflow: ellipsis;
    }
}

.logoutButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: solid var(--white);
    border-width: 0 0 1px 0;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    filter: var(--sombra-vermelha-brilho);
    line-height: 1.2em;
}

.logoutButton:hover {
    color: var(--vermelho);
}
