.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--carvao);
    padding: 0 8px 16px 8px;
    border: var(--borda-branca);
    border-width: 0 0 1px 0;
    p{
        font-size: 1.7em;
        text-align: center;
    }
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 24px 16px 0 16px;
    p{
        font-size: 1.7em;
        font-weight: 600;
        text-align: center;
    }
}