.login  {
  height: 812px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 8px 35px;
}
.login > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.login h1{
  font-size: 2em;
  text-shadow: var(--sombra-vermelha)
}