.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label{
    font-size: 1em;
}

select{
    background-color: var(--gunmetal);
    border: var(--borda-branca);
    box-shadow: var(--sombra-in-escura);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}