.topBar{
    height: 65px;
}
 
.conteudoInicioTela{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding: 7px;
    width: 100%;
    height: 88%;
}

.conteudoFinalTela{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    position: relative;
    background-color: var(--gunmetal);
}