.itemCard {
    display: flex;              
    background-color: var(--gunmetal);
    border: 1px solid var(--white);
    height: 75px;
    width: 360px;
    border-radius: 8px;
  }
  
 .textProductItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--fonte-corpo);
  /* background-color: #ffc107; */
  width: 60%;
  height: 100%;
 }

 .text1{
    font-size: 1em;
    font-weight: bold;
 }

 .text2{
  font-size: 0.8em;
 }

 .moldura{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #dc3545; */
  height: 100%;
  width: 24%;
}
  .image{
    border-radius: 8px;
    border: 2px solid var(--white);
    height: 85%;
    width: 80%;
  }
  
  .itemInfo {
    display: flex;
    /* background-color: aqua; */
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  
  .itemActions {
    display: flex;
    align-items: center;
  }
  .checked {
    /* background-color: #ffc107; */
    border-color: var(--white);
    background-color: var(--gunmetal);
    box-shadow: var(--sombra-in-clara);
  }
  .divCheckbox{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: greenyellow; */
    height: 100%;
    width: 13%;
  }
  
  .buttons {
    display: none;
    flex-direction: column;
    margin-left: 10px;
    height: 50px;
    width: 50px;
  }
  
  .showButtons .buttons {
    display: flex;
    height: 50px;
    width: 50px;
  }
  
  .editBtn {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  
  .removeBtn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  