@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*
O :root define variáveis em CSS. As usamos para mudar um valor em todo o site
alterando-o apenas aqui, assim como com as variáveis do Figma!!!
*/
:root {
    /* Fontes */
    --fonte-artistica: UnifrakturCook, Georgia, serif;
    --fonte-destaque: "Bebas Neue", Tahoma, sans-serif;
    --fonte-corpo: "DM Sans", Tahoma, sans-serif;

    --tamanho-padrao: 24px;

    /* Paleta de cores */
    --white: #F5FBEF;
    --preto: #0A0908;
    --gunmetal: #22333B;
    --carvao: #254A5B;
    --cinza-transparente: #C9C9C9;
    --yellow: #FFCA3A;
    --vermelho: #CC334E;
    --gradiente: linear-gradient(
        to right,
        var(--gunmetal),
        var(--carvao),
        var(--gunmetal)
    );

    /* Cores dos Toasts */
    --toast-verde:#2DD36F;
    --toast-amarelo: #FFCA3A;
    --toast-vermelho:#EE6123;

    /* Estilos de glassmorphism */
    --cor-vidro: #FFFFFF33;
    --cor-borda-vidro: #FFFFFF4C;
    --borda-vidro: 1px solid var(--cor-borda-vidro);
    --filtro-vidro: blur(5px);

    /* Bordas */
    --borda-branca:  1px solid var(--white);
    --borda-grossa-branca:  3px solid var(--white);
    --borda-fina-branca: 0.5px 8px solid var(--white);

    /*  Sombras */
    /* IN = Interna; EX = Com espaçamento adicional, para acomodar bordas*/
    --azul-claro: #65B5DA; /*Cor de apoio para a sombra interna clara*/
    --sombra-branca: 3px 3px 1px 2px var(--white);
    --sombra-vermelha: 0 0 5px var(--vermelho);
    --sombra-in-escura: 0 0 15px 3px var(--preto) inset;
    --sombra-in-clara: 1px 1px 10px 1px var(--azul-claro) inset;
    --sombra-ex-vermelha: 3px 3px 3px 1px var(--vermelho);
    --sombra-vermelha-brilho: drop-shadow(0px 0px 8px rgba(255, 1, 1, 0.751));
}

/* Tamanho de um celular, definido de forma temporária */
/* Mudança de body para #root, pois no react tudo que codamos é renderizado dentro de uma div com o id root, devemos focar na estilização dela.*/

body{
    display: block;
    margin: 0;
    padding: 0;
    height: 812px;
    width: 375px;
}

#root{
    height: 100vh;
    width: 375px;
    outline: 2px solid white;
    background: var(--gradiente);
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    color: var(--white);
    font-family: var(--fonte-corpo);
    margin: 0;
    padding: 0;
    font-size: var(--tamanho-padrao);
    box-sizing: border-box;
    /*
    O "em" representa n vezes o font-size base (definido acima)
    É usado para caso desejemos aumentar o tamanho da fonte, mudamos
    só o base e todo o resto do site é mudado junto.

    Tamanhos em "em":
    • 12px: 0.6em
    • 18px: 1em
    • 24px: 1.3em
    • 32px: 1.7em
    • 48px: 2.6
    */
}

h1{
    font-size: 2.6em;
    font-family: var(--fonte-artistica)
}
h2{
    font-size: 1.7em;
    margin: 0;
}
h4{
    font-size: 1.3em;
    margin: 0;
}
button{
    font-size: var(--tamanho-padrao);
    cursor: pointer;
}
p, button, h1, h2, h3, h4{
    overflow: hidden;
}
path{
    color: var(--white);
}