@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*
O :root define variáveis em CSS. As usamos para mudar um valor em todo o site
alterando-o apenas aqui, assim como com as variáveis do Figma!!!
*/
:root {
    --branco: #F5FBEF;
    --preto: #0A0908;
    --gunmetal: #22333B;
    --carvao: #254A5B;
    --cinza-transparate: #C9C9C9;
    --vermelho: #CC334E;
    --gradiente: linear-gradient(
        to right, 
        var(--gunmetal), 
        var(--carvao), 
        var(--gunmetal)
    );
    
    --sombra-vermelha: 0 0 5px var(--vermelho);
    --sombra-interna: 0 0 15px 3px var(--preto) inset;
}

/* Tamanho de um celular, definido de forma temporária */
/* Mudança de body para #root, pois no react tudo que codamos é renderizado dentro de uma div com o id root, devemos focar na estilização dela.*/

body{
    display: block;
    margin: 0;
    padding: 0;
    height: 812px;
    width: 375px;
}

#root{
    height: 812px;
    width: 375px;
    outline: 2px solid white;
    background: var(--gradiente);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    color: var(--branco);
    font-family: "DM Sans";
    margin: 0;
    padding: 0;
    font-size: 18px;
    /*
    O "em" representa n vezes o font-size base (definido acima)
    É usado para caso desejemos aumentar o tamanho da fonte, mudamos
    só o base e todo o resto do site é mudado junto.

    Tamanhos em "em":
    • 12px: 0.6em
    • 18px: 1em
    • 24px: 1.3em
    • 32px: 1.7em
    • 48px: 2.6
    */
}

h1{
    font-size: 2.6em;
    font-family: "UnifrakturCook";
}
h2{
    font-size: 1.7em;
    margin: 0;
}